# npx expo install
# npx expo start
expo init
npm start # => s => w
node v 16

# Navigations screens
npm install @react-navigation/native
npx expo install react-native-screens react-native-safe-area-context
npm install @react-navigation/native-stack

# Tailwind -> Nativewind
npm install nativewind
npm install --save-dev tailwindcss@3.3.2
npx tailwindcss init

#  Heroicons
npm i react-native-heroicons react-native-svg